@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-primary: #003366;
  --bs-secondary: #006699;
}

body {
  font-family: var(--bs-body-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
